<!-- Contoh Form Update -->
<!-- <form
      action="http://localhost:2000/users/<%= user_idnya %>"
      method="put"
    >
      <h1>Update User</h1>
      <input name="name" placeholder="Masukkan nama" />
      <input name="email" placeholder="Masukkan email" />
      <button type="submit">Register</button>
    </form> -->

<!-- Contoh Form Delete -->
<!-- <form
      action="http://localhost:2000/users/<%= user_idnya %>"
      method="delete"
    >
      <button type="submit">Delete</button>
    </form> -->
